<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test4android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/logo"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.test4android.Test4Android"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.com.romainpiel.shimmer.MainActivity"
            android:label="view, Matrix, Shader, Shimmer" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.demo.floatwindowdemo.MainActivity"
            android:label="view, WindowManager, float window on launcher, 360-like, rocket " >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>

        <service android:name="com.demo.floatwindowdemo.FloatWindowService" >
        </service>

        <activity
            android:name="com.example.wechatsample.MainActivity"
            android:icon="@drawable/logo"
            android:label="view, ActionBar, ViewPager, 微信ui" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.android.scrolltricks.MainActivity"
            android:label="view, Scroll, sticky, quick return. Sticky：类似的同步滚动，特定的View最多滑动到顶部并保持固定不动。例如大众点评或美团的“立即购买”功能。Quick Return:向上滑动时，View也向上滑动并且消失，当向下滑动时，View马上出现。例如Google Now的搜索功能。" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="pptv.shuangtu.demo.MainActivity"
            android:label="view, Demo for PPTV 双图动画, for TV"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.animtest.MainActivity"
            android:label="view, 动画， ValueAnimator， ObjectAnimator， LayoutTransition" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.animtest.AnimateLayoutChanges" >
        </activity>
        <activity android:name="com.example.animtest.AnimateFreeFall" >
        </activity>
        <activity android:name="com.example.animtest.AnimateMoveInSecond" >
        </activity>
        <activity android:name="com.example.animtest.AnimateMultiple" >
        </activity>
        <activity android:name="com.example.animtest.AnimateLayoutTransition" >
        </activity>
        <activity android:name="com.example.animtest.AnimateLayoutAnimation" >
        </activity>
        <activity android:name="com.example.animtest.AnimateRotationLayout" >
        </activity>
        <activity
            android:name="com.example.powerimageviewtest.MainActivity"
            android:hardwareAccelerated="false"
            android:label="view, gif, self defined imageview, API android.graphics.Movie" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.renrenslidemenudemo.MainActivity"
            android:label="view, slide menu, VelocityTracker"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.view.selfdefined.selfdraw.MainActivity"
            android:label="view, 自定义view, 自绘控件" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.view.selfdefined.compose.MainActivity"
            android:label="view, 自定义view, 组合控件" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.view.selfdefined.extend.MainActivity"
            android:label="view, 自定义view, 继承控件" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.marqueeText.MainActivity"
            android:label="view, TextView 走马灯， 两种方式， setSelected 更好， 可继续封装" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bidirslidinglayout.MainActivity"
            android:label="view, slide menu, 左右菜单, VelocityTracker"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.ninepatch.png.MainActivity"
            android:label="view, .9 png"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="lib.metro.sample.MainActivity"
            android:label="view, Metro, gridlayout, onkey event"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.disklrucache.MainActivity"
            android:label="util, Disk lru cache, util usage" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.photoswalldemo.MainActivity"
            android:label="util, Disk lru cache, girdView, photo wall" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.log.in.app.MainActivity"
            android:label="util, Logcat in app, Runtime.getRuntime().exec" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.is.launcher.MainActivity"
            android:label="util, ActivityManager.getRunningTasks， PackageManager.queryIntentActivities， 判断当前应用是否是launcher， see log for output" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.event.onkey.MainActivity"
            android:label="util, onKey event handle, timerTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE" />
            </intent-filter>
        </activity>
    </application>

</manifest>